process {
    withName: 'PICARD_COLLECTINSERTSIZEMETRICS' {
        ext.prefix       = { "${meta.id}_collectinsertsize"}
        publishDir = [
            path: { "${params.outdir}/${params.aligner}/deduplicated/picard_metrics" },
            mode: params.publish_dir_mode,
            pattern: "*sorted.bam",
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        ]
    }
}